body {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: black;
    opacity: 50%;
    color: white;
}

.embleem {
    display: flex;
    align-self: center;
}

.links {
    display: flex;
    width: 80%;
    align-items: center;
    align-content: center;
}